# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
vendor
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# misc
/common
resources/client/common
.htaccess
public/.htaccess
public/favicon
public/favicon.ico
install_files
/public/hot
/storage/*.key
Homestead.json
Homestead.yaml
.env
data.ms
